**/node_modules
.pnpm-store/
dist/
build/
*.dist
.env
.env.local
.DS_Store
*.log
pids
*.pid
coverage/
.npm
.eslintcache
.cache
.next
.nuxt
tmp/
temp/
*.db
*.sqlite
*.sqlite3
.webdev/
client/public/__manus__/version.json
